*{
    margin: 0;
    padding: 0;
	font-family: 'Open Sans', sans-serif;
}
.header {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(8, 21, 75, 0.7),rgba(8, 21, 75, 0.5)),url(../images/background/background.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background :#3f7cec;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}


.vrstezivotinja{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.vrstezivotinja h1{
    font-size: 36px;
    font-weight: 600;
}
.vrstezivotinja p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.vrstezivotinja-col{
	display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
}
.vrstezivotinja-col-holder{    
    width: 280px;
	border-radius: 10px;
    margin: 10px;
    height: 220px;
	background: #c3d7fd;
    box-sizing: border-box;
	transition: 0.5s;
}
.vrstezivotinja-col-holder h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.vrstezivotinja-col-holder:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
}

.artikli{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}
.artikli .artikli-col{
    flex-basis: 22%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.artikli .artikli-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(3, 39, 65, 0.5);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*---------- Animacija ----------*/
.animacija{
	height:7vh;
}

.dog{
    width: 100px;
    position: absolute;

    animation-name: running;
    animation-duration: 5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes running {
    from{left: -100px;}
    to{left: 100%;}
}

/*---------- footer ----------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.footer h4{
    margin-top: 10px;
}
.icons .fa-brands{
	font-size: 30px;
    color: #3f7cec;
    margin: 0 10px;
    cursor: pointer;
    padding: 15px 0;
}

/*---------- header Kontakt/Artikli ----------*/
.sub-header{
    width: 100%;
    background-image: linear-gradient(rgba(8, 21, 75, 0.7),rgba(8, 21, 75, 0.5)),url(../images/background/background2.png);
    background-position: center;
    background-size: cover; 
    text-align: center;
    color: #fff;
}
.sub-header h1{
	font-size: 40px;
    margin-top: 20px;
	padding: 20px;
}
.background
{
	background: white;
}

/*---------- Artikli ----------*/
.proizvodi{
	width: 100%;
}
.proizvodi h1{
	margin-top: 50px;
	padding: 20px;
	text-align: center;
}
.proizvodi-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
}
.proizvodi-holder .card{
    width: 350px;
    margin: 20px;
    height: 420px;
	background: #fff;
	box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.9);
}
.card:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
}
.card img{
    width: 100%;
    height: 350px;
}
.card h2{
    margin-left: 10px;
}

.card p{
    color: red;
}

/*---------- Kontakt ----------*/
.kontaktirajte-nas{
    width: 80%;
    margin: auto;
}
#kontakt-h4{
	padding: 5px 0px;

}
.row-kontakt{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.kontakt{
    flex-basis: 48%;
    margin-bottom: 30px;
	display: block;
    align-items: center;
}
.kontakt input, .kontakt textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #3f7cec;
    border: 1px solid #3f7cec;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid #3f7cec;
    background: #3f7cec;
    transition: 1s;
	color: #fff;
}
iframe{
	width: 100%;
}


@media screen and (min-width:320px) and (max-width:425px) {
	.nav img{
		width: 50px;
	}
	.nav-links ul li a{
		font-size: 8px;
	}
	.nav-links ul li{
		padding: 3px;
	}
	.text-box{
		padding: 10px;
	}
	.text-box h1{
		font-size: 30px;
		padding: 0px;
	}
	.text-box p{
		margin: 0px;
		font-size: 10px;
	}
	.vrstezivotinja{
		padding-top: 30px;
	}

	.vrstezivotinja h1{
		font-size: 20px;
	}
	
	.vrstezivotinja h3{
		font-size: 13px;
	}
	
	.vrstezivotinja p{
		font-size: 10px;
	}
	.vrstezivotinja-col-holder{
		width: 220px;
		height: 200px;
		padding: 0px;
	}
	.vrstezivotinja-col-holder h3{
		margin-top: 10px;
	}
	.vrstezivotinja-col-holder p{
		margin: 0px;
	}
	.artikli{
		padding: 10px;
	}
	.artikli h1{
		font-size: 20px;
	}
	.artikli p{
		font-size: 10px;
	}
	.layer h3{
		font-size: 10px;
	}
	.dog{
		width: 70px;
	}
	.footer{
		margin: 0px;
		padding: 0px;
	}
	.footer .icons h4{
		font-size: 10px;
		padding: 10px;
	}
	.footer .icons i{
		margin: 5px;
		padding: 0px;
		font-size: 15px;
	}
	.sub-header h1{
		font-size: 20px;
	}
	.proizvodi h1{
		font-size: 18px;
		margin-top: 10px;
		padding: 10px;
	}
	.proizvodi-holder .card{
		width: 200px;
		margin: 10px;
		height: 250px;;
	}
	.card img{
		width: 100%;
		height: auto;
	}
	.card h2{
		font-size: 13px;
		padding:5px;
		margin:0px;
	}
	.card p{
		font-size: 10px;
		font-weight: bold;
		margin-left: 5px;
	}
	.row-kontakt{
		display: block;
		margin-top: 0px;
	}
	#kontakt-h4{
		font-size: 10px;
	}
	.kontakt input, .kontakt textarea{
		font-size: 7px;
		padding: 10px;
		margin-bottom: 10px;
	}
	.btn{
		padding: 10px 25px;
		font-size: 10px;
	}
	iframe{
		width: 100%;
		height: 100px;
	}
}


@media screen and (min-width:768px) and (max-width:1024px) {
	.nav img{
		width: 100px;
	}

	.nav-links ul li{
		padding: 5px;
	}
	.nav-links ul li a{
		font-size: 10px;
	}
	
	.text-box{
		padding: 10px;
	}
	.text-box h1{
		font-size: 50px;
		padding: 10px;
	}
	.text-box p{
		margin: 5px;
		font-size: 15px;
	}
	.vrstezivotinja{
		padding-top: 20px;
	}
	.vrstezivotinja h1{
		font-size: 30px;
	}
	.vrstezivotinja h3{
		font-size: 13px;
	}
	.vrstezivotinja p{
		font-size: 10px;
	}
	.vrstezivotinja-col-holder{
		height: 160px;
	}
	.artikli h1{
		font-size: 30px;
	}
	.artikli p{
		font-size: 15px;
	}
	.dog{
		width: 70px;
	}
	.footer{
		padding: 10px 0px;
		margin: 0px;
	}
	.footer .icons h4{
		font-size: 10px;
		padding: 10px;
	}
	.footer .icons i{
		margin: 5px;
		padding: 0px;
		font-size: 15px;
	}
	.proizvodi h1{
		font-size: 20px;
		margin-top: 10px;
		padding: 10px;
	}
	.proizvodi-holder .card{
		width: 200px;
		margin: 10px;
		height: 250px;;
	}
	.card img{
		width: 100%;
		height: auto;
	}
	.card h2{
		font-size: 13px;
		padding:5px;
		margin:0px;
	}
	.card p{
		font-size: 10px;
		font-weight: bold;
		margin-left: 5px;
		padding: 0px;
	}
	.row-kontakt{
		margin-top: 3%;
	}
	.kontakt input, .kontakt textarea{
		font-size: 10px;
		padding: 10px;
		margin-bottom: 10px;
	}
	.btn{
		padding: 10px 25px;
		font-size: 10px;
	}
	iframe{
		width: 100%;
		height: 50vh;
	}

}




